.navbar,
.navbar * {
	box-sizing: border-box;
}

.navbar {
	display: flex;
	flex-direction: row;
	gap: 100px;
	align-items: center;
	justify-content: center;
	/* position: relative; */

	/* Auto layout */
	padding: 0px;
	position: absolute;
	width: 1328px;
	height: 58px;
	left: calc(50% - 1328px / 2);
	top: 50px;
}

.group-1960 {
	flex-shrink: 0;
	width: 245px;
	height: 58px;
	position: static;
}

/* .group-1959 {
    width: 180px;
    height: 36px;
    position: static;
} */

/* .your-logo-here {
    color: var(--darkcolor, #0e1422);
    text-align: left;
    font: 400 24px 'Poppins';
    position: absolute;
    left: calc(50% - 599px);
    top: calc(50% - 21px);
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.ellipse-1 {
    background: #86a1ff;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ellipse-2 {
    background: #ffffff;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    position: absolute;
    left: 36px;
    top: 11px;
}

.ellipse-3 {
    background: #ffffff;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    position: absolute;
    left: 27px;
    top: 29px;
} */

/* .p {
    color: #ffffff;
    text-align: left;
    font: 700 24px 'Poppins';
    position: absolute;
    left: 18px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start
} */

.-search-form {
	flex-shrink: 0;
	width: 400px;
	height: 40px;
	position: static;
}

.-search-form input {
	border: none;
	color: #818087;
}

.rectangle-1155 {
	background: #fefdfe;
	border-radius: 10px;
	width: 400px;
	height: 40px;
	position: absolute;
	left: 345px;
	top: 9px;
}

.group-1975 {
	width: 32px;
	height: 32px;
	position: static;
}

.rectangle-1142 {
	background: #19abbf;
	border-radius: 10px;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 741px;
	top: 13px;
	transform-origin: 0 0;
	transform: rotate(0deg) scale(-1, 1);
}

.search--- {
	color: #818087;
	text-align: left;
	font: 400 14px "Inter";
	position: absolute;
	left: 359px;
	top: 21px;
	width: 60px;
}

.group {
	width: 18.16px;
	height: 18.16px;
	position: static;
}

.group2 {
	position: absolute;
	left: 716px;
	top: 20px;
	overflow: visible;
}

.navbar2 {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.nav_home {
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.home {
	color: #000000;
	text-align: left;
	font: 400 16px "Inter";
	position: relative;
	cursor: pointer;
}

.nav_chat {
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.chat {
	color: #000000;
	text-align: left;
	font: 400 16px "Inter";
	position: relative;
	cursor: pointer;
}

.nav_mypage {
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.mypage {
	color: #000000;
	text-align: left;
	font: 400 16px "Inter";
	position: relative;
	cursor: pointer;
}

.frame-5 {
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.logout {
	color: #000000;
	text-align: left;
	font: 400 16px "Inter";
	position: relative;
	cursor: pointer;
}

.frame-6 {
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.aboutus {
	color: #000000;
	text-align: left;
	font: 400 16px "Inter";
	position: relative;
	cursor: pointer;
}
