.content {
    background-color: rgba(229, 229, 229, 1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}

.frame-26,
.frame-26 * {
    box-sizing: border-box;

}

.frame-26 {
    /* Auto layout */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;

    position: absolute;
    width: 1180px;
    height: 550px;
    top: 10px;

    position: relative;
}

.frame-23 {
    background: #ffffff;
    border-radius: 10px;
    padding: 70px 300px 70px 75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 650px;
    height: 550px;
    position: relative;
}

.frame-22 {
    padding: 10px 10px 50px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.--- {
    color: #000000;
    text-align: center;
    font: 400 32px 'Inter';
    position: relative;
}

.frame-232 {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.------- {
    color: #000000;
    text-align: center;
    font: 400 16px 'Inter';
    position: relative;
}

.frame-24 {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.----- {
    color: #000000;
    text-align: center;
    font: 400 16px 'Inter';
    position: relative;
}

.frame-25 {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-27 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 450px;
    height: 550px;
    position: relative;
}

.button {
    background: #5179ef;
    border: solid #bdbdbd;
    border-width: 1px;
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 80px;
    position: relative;
}

.-----2 {
    color: #ffffff;
    text-align: center;
    font: 400 24px 'Inter';
    position: relative;
}

.groups {
    border-radius: 10px;
    border: solid #545454;
    border-width: 1px;
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 430px;
    position: relative;
    overflow: auto;
}

.header {
    padding: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-33 {
    border: solid #545454;
    border-width: 0px 0px 2px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 370px;
    position: relative;
}

.frame-332 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.---2 {
    color: #000000;
    text-align: left;
    font: 700 16px 'Inter';
    position: relative;
    width: 120px;
}

.frame-34 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 70px;
    position: relative;
}

.---- {
    color: #000000;
    text-align: left;
    font: 700 16px 'Inter';
    position: relative;
}

.frame-35 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.----2 {
    color: #000000;
    text-align: right;
    font: 700 16px 'Inter';
    position: relative;
    width: 59px;
}

.frame-37 {
    border: solid #545454;
    border-width: 0px 0px 1px 0px;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.--------- {
    color: #000000;
    text-align: left;
    font: 400 16px 'Inter';
    position: relative;
    width: 120px;
}

._1-3 {
    color: #000000;
    text-align: left;
    font: 400 16px 'Inter';
    position: relative;
}

.---3 {
    color: #bd4747;
    text-align: right;
    font: 400 16px 'Inter';
    position: relative;
    width: 59px;
}

.frame-342 {
    border: solid #545454;
    border-width: 0px 0px 1px 0px;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.---4 {
    color: #000000;
    text-align: left;
    font: 400 16px 'Inter';
    position: relative;
    width: 120px;
}

.frame-352 {
    border: solid #545454;
    border-width: 0px 0px 1px 0px;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.----3 {
    color: #5179ef;
    text-align: right;
    font: 400 16px 'Inter';
    position: relative;
    width: 59px;
}

.frame-36 {
    border: solid #545454;
    border-width: 0px 0px 1px 0px;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}